.logoTicket {
  height: 35px;
  width: 60px;
}
.colorDarkWithe {
  color: var(--text-input);
}
.per {
  color: #6328e5;
}

.w-300 {
  width: 300px;
  min-width: 300px;
}
.taketborder {
  border: 2px solid #13b9e2;
  border-top: 2px solid #6328e5;
}
.colorOpi {
  color: var(--color-opi) !important;
}
.w-500 {
  width: 500px;
  min-width: 500px;
}
.w-controlPrint {
  min-width: 800px;
}
.taket .transactionsTable {
  height: 250px !important;
}
.w-Q {
  max-width: 150px;
  width: 150px;
  background-color: var(--bg-total);
  color: var(--text-input);
  padding: 8px 10px;
  font-size: 18px;
  text-align: center;
}
.border-Purchase {
  border: 2px solid var(--bg-total);
}
.w-Purchase {
  max-width: 250px;
  width: 250px;
  text-align: end;
}
.w-Q.new {
  min-width: 200px;
  width: 200px;
  border-left: 1px solid var(--color-opi);
}
.bgTact {
  background-color: var(--bg-total);
}

.taket .transactionsTable tr th:nth-last-of-type(1) {
  min-width: 100px;
  width: 100px;

  border-right: 0;
}
.taket .transactionsTable tr th:nth-last-of-type(2) {
  min-width: 200px;
  width: 200px;
}
.taket .transactionsTable tr th:nth-last-of-type(3) {
  min-width: 200px;
  width: 200px;
}
.taket .transactionsTable tr th:nth-last-of-type(4) {
  min-width: 200px;
  width: 200px;
}
.taket .transactionsTable tr th:nth-last-of-type(5) {
  min-width: 150px;
  width: 150px;
}
.PrintTaketV {
  transform: scale(0);
}
@media print {
  .container {
    display: none !important;
  }
  .taket{
    display: none !important;
  }
  .PrintTaketV {
    opacity: 1 !important;
    visibility: visible !important;
    transform: scale(1) !important;
  }
}
@media screen and (max-width:695px) {
    .border-Purchase{
        margin-top: 10px;
        border-left: 2px solid var(--bg-total) !important;
    }
}