    .popUp {
    inset: 0;
    background: rgba(0, 0, 0, 0.404);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1111111;
    }

    .popUp .popUpChild {
    width: 80%;
    max-height: 85%;
    height: 85%;
    position: relative;
    padding: 0 0 10px;
    background-color: var(--bg-color);
    border-radius: 20px;
    }

    .popUpChild .span {
    position: sticky;
    padding: 10px 20px;
    justify-content: end;
    right: 0%;
    top: -0%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--bg-total);
    }
    .popUpChild .span .iconPop {
    color: rgb(179, 61, 61);
    margin-left: auto;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .headPop {
    font-size: 20px;
  color: var(--text-input);
    cursor: auto;
    }
    .empty {
    width: 30px;
    height: 30px;
    }
    .popUpChild span,
    .popUpChild p {
    transition: color 0.3s linear;
    }
    .popUpChild .iconPop:hover {
    color: rgb(255, 0, 0) !important;
    }
    .popUpChild p:hover {
    color: rgb(80, 235, 8) !important;
    }
    .rounded-r-0 {
    border-top-right-radius: 0;
    }
.hPopUp{
  height: calc(100% - 70px);
}