.selectBtn{
    background-color: var(--headerTableRes);
    width: 15px;
    height: 15px;
    position: relative;
    border: 1px solid var(--bg-total);
}
.selectBtnIcon{
    color: rgb(9, 235, 20);
    position: absolute;
    display: flex;
    top: 45%;
    left: 55%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    opacity: 0;
    transition:  opacity 0.2s ease-in-out , color 0.2s ease-in-out;
}
.selectBtn:hover .selectBtnIcon{
    opacity: 1;
    color: rgba(9, 235, 20, 0.404);
}
.selectBtn.active:hover .selectBtnIcon{
    opacity: 1;
    color: rgb(9, 235, 20);
}
.selectBtn.active .selectBtnIcon{
    opacity: 1;
}
.IMEI{
    border: 2px solid var(--bg-total);
    padding: 10px 20px;
    margin-top: 20px;
}
.items{
    margin-top: 10px;
    border: 2px solid var(--bg-total);
    padding: 10px 10px;
    height: 230px;
    min-height: 230px;
    overflow: auto;
}
.selectAll{
    font-size: 14px;
    font-weight: normal;
}
.selectCode{
    padding: 5px 10px;
    margin-bottom: 10px;
    transition:  background-color 0.2s ease-in-out ;

}
.selectCode.active{
    background-color: #13b9e2;

}
.selectCode.active .selectBtnIcon{
    opacity: 1;
}